<p>This is a template of admin confirmation email.</p>
<p>Hi COG-Admin, there's a donation {{donation.transactionId}} from {{donorName}}, which total amount of donation is:{{donation.totalDonations}}.</p>
<p>And we received {{donation.donationToOrg}} RMB from this donor!</p>
